@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html,body{
    background-color: rgb(46, 46, 46);
    color:white;
    margin:0px;
    overflow-x:hidden;
    height:100%;
    width:100%;
    font-family: 'Roboto', sans-serif;
}

#container{
    display:grid;
    grid-template-rows: 1fr 6fr auto;
    grid-template-columns: 100%;
    min-height:100%;
    position:relative;
    margin-bottom:200px;
    z-index:0;
}

#form-container{
    width:auto;
    max-width:750px;
    padding-top:10px;
    padding-top:10px;
    margin-left:auto;
    margin-right:auto;
    background-color:rgb(211, 211, 211);
    height:auto;
    position:relative;
    top:50px;
    color:black;
    text-align: center;
    border-radius:5px;
}

#form-container>form{
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
}

#form-container>form>input, #form-container>form>select{
    margin:10px;
    border: 1px solid rgb(165, 165, 165);
    border-radius:3px;
    font-size:20px;
    grid-column: span 2;
}

.horizontal-line{
    border-bottom: 1px solid rgb(165, 165, 165);
    width:90%;
    grid-column:1/5;
    margin-left:auto;
    margin-right:auto;
}

header{
    height:100px;
    width:100vw;
    background-color:rgb(37, 66, 94);
    z-index: 2;
}

header>p{
    font-size:50px;
    margin:0px;
    padding:20px;
}

nav{
    height:50px;
    background-color: rgb(48, 82, 114);
    line-height:45px;
    width:100vw;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 4fr 1fr;
    text-align: center;
}

nav>a{
    color:white;
    text-decoration: none;
    font-size:20px;
    
    margin-left:20px;
    margin-right:20px;

    min-width:100px;
}

nav>a:hover{
    color:rgb(194, 194, 194);
}

nav>input{
    margin-right:30px;
    margin-top:5px;
    margin-bottom:5px;
    font-size:17px;
}

#rememberBox{
    display:inline;
}

#articles{
    display:grid;
    grid-template-columns: 1fr 1fr;
    margin-top:0px;

    width:80vw;
    max-width:1000px;
    min-width:200px;
    margin-left:auto;
    margin-right:auto;
    row-gap:80px;
}

.article{
    border-radius:5px;
    padding:30px;
    margin: 20px;
    text-align:center;
    background-color:rgb(153, 153, 153);
    color:black;
    height:100%;
    text-align: left;
    min-width:200px;
}

.article>img{
    background-color: black;
    height:70%;
    margin-left:100px;
    margin-right:100px;
}

.middleCol{
    grid-column:2/4 !important;
}

.doubleCol{
    grid-column: 1/3 !important;
    width:auto;
}

footer{
    position:fixed;
    bottom:0px;
    height:80px;
    width:100vw;
    background-color:rgb(17, 29, 39);
}

footer>p{
    position:absolute;
    right:40px;
    bottom:0px;
}

#svgs{
    position:absolute;
    left:20px;
    height:100%;
}

#svgs svg{
    width:50px;
    height:50px;
    margin-top:15px;
    margin-left:15px;
    fill:white;
}

#svgs svg:hover{
    fill:rgb(228, 228, 228);
    cursor:pointer;
}